{% load staticfiles %}

<form action="/atelier/class/" method="POST">
{{ form.as_table }}
<input type="submit" value="Submit" />
</form>

{% for class_list in class_lists %}
<div style="float: left; width: 360px; ">
<h1>{{ class_list.class.name }}</h1>

	{% for album_artwork_class in class_list.list %}
	<div>
		{{ album_artwork_class.album.name }} / {{ album_artwork_class.album.artist.name }}</br>
		[score] {{ album_artwork_class.score }}</br>
		<img src="{{ album_artwork_class.album.artwork_url }}" alt="">
	</div>
	{% endfor %}

</div>
{% endfor %}
