{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/atelier.css" %}" />

{% if album_list %}

    <div id="">
        Artwork of {{ selected_image_type }}
    </div>

    {% for album in album_list %}
        <img src="{{ album.artwork_url }}">
    {% endfor %}

{% else %}
    <p>No artwork of {{ selected_image_type }}.</p>
{% endif %}

<div>
    <ul>
    {% for image_type in image_type_list %}
        <li><a href="/atelier/{{ image_type.0 }}/">show artworks of {{ image_type.1 }}</a></li>
    {% endfor %}
    </ul>
</div>

<script src="{% static "javascripts/atelier.js" %}" />
